body{margin:0;height:100%;}
canvas{
    position:absolute;top:0;left:0;
    z-index:100;
    background-image: linear-gradient(bottom, rgb(33, 13, 185) 0%, rgb(6, 18, 32) 84%);
    background-image: -o-linear-gradient(bottom, rgb(33, 13, 185) 0%, rgb(6, 18, 32) 84%);
    background-image: -moz-linear-gradient(bottom, rgb(33, 13, 185) 0%, rgb(6, 18, 32) 84%);
    background-image: -webkit-linear-gradient(bottom, rgb(33, 13, 185) 0%, rgb(6, 18, 32) 84%);
    background-image: -ms-linear-gradient(bottom, rgb(33, 13, 185) 0%, rgb(6, 18, 32) 84%);
    
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(241, 125, 210)),
        color-stop(0.84, rgb(67, 157, 177))
    );
}